
gramformer @ git+https://github.com/PrithivirajDamodaran/Gramformer.git@23425cd2e98a919384cab6156af8adf1c9d0639a
numpy==1.26.4
pandas==2.1.4
pyspellchecker==0.8.1
spacy==3.7.5
torch==2.3.1
torchvision==0.18.1
streamlit==1.37.0
transformers==2.1.0
